Repository jasonruesch/jasonruesch, changes with the labels that .github/labeler.yml gives for each.
All labels: root, ci, documentation, apps, jasonruesch

chore(release): publish 1.0.0
  CHANGELOG.md
Labels: root, documentation

ci(repo): add a way to always build in staging workflow
  .github/workflows/staging.yml
Labels: ci

ci(repo): add a way to always build in preview workflow
  .github/workflows/preview.yml
Labels: ci

chore(repo): git ignore .vercel folder
  .gitignore
Labels: root

chore(repo): git ignore .vercel folder
  .gitignore
Labels: root

docs(repo): update typo in README.md
  README.md
Labels: root, documentation

docs(repo): update typo in README.md
  README.md
Labels: root, documentation

ci(repo): update workflows
  .github/workflows/preview.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Labels: ci

ci(repo): update workflows
  .github/workflows/preview.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Labels: ci

chore(jasonruesch): add image for GitHub social previews
  apps/jasonruesch/public/images/github.png
Labels: apps, jasonruesch

docs(repo): add release process document
  docs/RELEASE_PROCESS.md
Labels: documentation

ci(repo): add labels workflow to sync colors
  .github/labels.yml
  .github/workflows/labels.yml
Labels: ci

ci(repo): move labels comment to workflow
  .github/labels.yml
  .github/workflows/labels.yml
Labels: ci

ci(repo): fix labels blank lines
  .github/labels.yml
Labels: none

ci(repo): removed erroneous quotes
  .github/labels.yml
Labels: none

ci(repo): add token to labels workflow
  .github/workflows/labels.yml
Labels: ci

.github/labeler.yml:

# Single quotes are required for leading asterisks

root:
  - changed-files:
      - any-glob-to-any-file: '*'

ci:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

# Add 'documentation' label to any changes within 'docs' folder or any subfolders
documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**
      - any-glob-to-any-file: '**/*.md'

apps:
  - changed-files:
      - any-glob-to-any-file: apps/**

# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: 'main'

jasonruesch:
  - changed-files:
      - any-glob-to-any-file: '**/jasonruesch/**'
