Repository jasonruesch/jasonruesch, changes with the labels that .github/labeler.yml gives for each.
All labels: root, ci, documentation, apps, jasonruesch

.github/labeler.yml:

# Single quotes are required for leading asterisks

# Changes to files in the root folder
root:
  - changed-files:
      - any-glob-to-any-file: '*'

# Changes to files in the .github/workflows folder
ci:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

# Changes within 'docs' folder and subfolders, or markdown files
documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**
      - any-glob-to-any-file: '**/*.md'

# Changes to files in the apps folder
apps:
  - changed-files:
      - any-glob-to-any-file: apps/**

# PR is opened against the main branch
release:
  - base-branch: 'main'

# Changes to files in any jasonruesch folder
jasonruesch:
  - changed-files:
      - any-glob-to-any-file: '**/jasonruesch/**'

ci(repo): run deploy step when PR is closed to cleanup
  .github/workflows/preview.yml
Labels: ci

ci(repo): run deploy step when PR is closed to cleanup
  .github/workflows/preview.yml
Labels: ci

feat(jasonruesch): italicize version in footer
  apps/jasonruesch/package.json
  libs/ui/src/lib/Footer.tsx
  libs/ui/src/lib/catalyst/table.tsx
  package-lock.json
  package.json
Labels: root, apps, jasonruesch

feat(jasonruesch): italicize version in footer
  apps/jasonruesch/package.json
  libs/ui/src/lib/Footer.tsx
  libs/ui/src/lib/catalyst/table.tsx
  package-lock.json
  package.json
Labels: root, apps, jasonruesch

chore(release): publish 2.5.0
  CHANGELOG.md
  apps/jasonruesch/package.json
  package-lock.json
Labels: root, documentation, apps, jasonruesch

chore(repo): update package lock
  package-lock.json
Labels: root

ci(repo): separate preview deploy and preview clean steps in workflow
  .github/workflows/preview.yml
Labels: ci

feat(jasonruesch): hide Navigation heading on mobile
  libs/ui/src/lib/Header.tsx
Labels: none

feat(jasonruesch): hide Navigation heading on mobile
  libs/ui/src/lib/Header.tsx
Labels: none

ci(repo): split preview cleanup out to separate workflow
  .github/workflows/preview.cleanup.yml
  .github/workflows/preview.yml
Labels: ci

feat(data-access): add data-access library
  apps/jasonruesch/app/routes/articles.tsx
  apps/jasonruesch/app/routes/home.tsx
  apps/jasonruesch/tsconfig.app.json
  apps/jasonruesch/tsconfig.json
  libs/data-access/.babelrc
  libs/data-access/README.md
  libs/data-access/eslint.config.mjs
  libs/data-access/package.json
  libs/data-access/src/index.ts
  libs/data-access/src/lib/article.model.ts
  libs/data-access/tsconfig.json
  libs/data-access/tsconfig.lib.json
  libs/data-access/vite.config.ts
  nx.json
  package-lock.json
  tsconfig.base.json
  tsconfig.json
Labels: root, documentation, apps, jasonruesch
